.productsContainer {
  max-width: var(--max-width-container);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
  gap: 20px;
}
@media (max-width: 1200px) {
  .productsContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .productsContainer {
    grid-template-columns: 1fr;
  }
}
