.productView {
  padding-bottom: 50px;
  display: grid;
  gap: 30px;
}

/* product detail End */
.productsContainer {
  max-width: var(--max-width-container);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 10px;
}
/*products end  */

.gallerySection {
  width: 100%;
  max-width: var(--max-width-container);
  margin: 20px auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.sectionHeading {
  color: var(--primary-heading);
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2em;
}
.sectionDescription {
  text-align: center;
  color: var(--primary-text);
  font-size: 16px;
  line-height: 1em;
}
.maxWidthLimit {
  max-width: var(--max-width-container);
  width: 100%;
  margin: 0px auto;
}
.galleryContainer {
  max-width: var(--max-width-container);
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  grid-template-rows: auto;
  gap: 50px 10px;
}
.hotProductsContainer {
  max-width: var(--max-width-container);
  width: 100%;
  margin: 20px auto;
  position: relative;
  box-shadow: inset 0px -80px 600px -6px rgba(0, 0, 0, 0.8);
  border-radius: var(--standard-border-radius2);
}
.hotProductImage {
  width: 100%;
  aspect-ratio: 3/1;
  position: relative;
  z-index: -1;
  border-radius: var(--standard-border-radius2);
}
.hotCta {
  position: absolute;
  left: 10%;
  bottom: 10%;
  color: var(--white-text);
  font-size: 28px;
  line-height: 1.2em;
}
.hotCtaSpan {
  font-weight: 600;
  line-height: 1em;
  font-size: 48px;
}

@media (max-width: 800px) {
  .galleryContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px 10px;
    padding: 0px 20px;
  }
}
