.wrapper {
  background-color: var(--primary-background2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 150px;
}

.container {
  max-width: 600px;
  border-radius: var(--standard-border-radius2);
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05); */
}

.code {
  font-size: 6rem;
  color: var(--primary-theme1);
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.title {
  font-size: 1.75rem;
  color: var(--primary-heading);
  margin-bottom: 1rem;
}

.message {
  color: var(--primary-text);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-theme1);
  color: var(--white-text);
  border-radius: var(--standard-border-radius1);
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--primary-theme2);
}
