.mainWrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.citiesContainer {
  max-width: var(--max-width-container);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 100px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .citiesContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .citiesContainer {
    grid-template-columns: 1fr;
  }
}

.cityGroup {
  display: grid;
  gap: 20px;
}

.cityGroup h2 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.cityGroup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
