.productDetail {
  margin: 0px auto;
  max-width: var(--max-width-container);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}
.productImageContainer {
  display: flex;
  justify-content: flex-end;
}
.productImage {
  width: 500px;
  max-height: 500px;
  margin-right: 20px;
}
.productInfo {
  display: grid;
}
.productName {
  color: var(--primary-text);
  font-size: 28px;
  font-weight: 600;
  position: relative;
}
.productName::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 20%;
  height: 3px;
  background-color: var(--primary-theme1);
}
.reviewContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.icon {
  height: 20px;
}
.reviewCount {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}
.checkContainer {
  list-style: none;
  padding-left: 0px;
}

.checkList::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/images/tick.png") no-repeat center center;
  background-size: contain;
  margin-right: 10px;
  vertical-align: middle;
}
.dimenssionContainer {
  display: flex;
}
.dimension {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-text);
  width: 180px;
  height: 60px;
  position: relative;
}
.lableSpan {
  top: 2px;
  left: 8px;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
}
.productDimension {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-heading);
}
.productPrice {
  font-size: 22px;
  font-weight: 600;
}
.CartBtnContainer {
  display: flex;
}
.cartButton {
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid var(--primary-text);
  height: 40px;
  width: 40px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.quantity {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0px 5px;
}
.cartButton:hover {
  background-color: var(--primary-theme1);
  color: var(--white-text);
}
.ctaButtonContainer {
  display: flex;
  gap: 10px;
}
.ctaButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  cursor: pointer;
  padding: 5px 10px;
  width: fit-content;
  font-weight: 600;
  color: var(--primary-heading);
  border: 1px solid var(--primary-text);
  border-radius: var(--standard-border-radius2);
}
.btnIcon {
  height: 40px;
}
.contactBtn {
  display: flex;
  align-items: center;
  background-color: var(--primary-theme1);
  color: var(--white-text);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.contactBtn:hover {
  color: var(--primary-heading);
  background-color: var(--primary-background);
}
.downloadBtn {
  color: var(--primary-heading);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.downloadBtn:hover {
  background-color: var(--primary-theme1);
  color: var(--white-text);
}

@media (max-width: 1200px) {
  .productDetail {
    gap: 10px;
  }
  .productImage {
    width: auto;
    max-height: 450px;
  }
}
@media (max-width: 800px) {
  .productDetail {
    gap: 10px;
    grid-template-columns: 1fr;
    padding: 0px 20px;
  }
  .productImageContainer {
    margin: auto;
    justify-content: center;
  }
  .productImage {
    margin-right: 0px;
    max-height: none;
  }
  .productInfo {
    margin: 0px;
    gap: 10px;
  }
  .productName::after {
    bottom: 0px;
  }

  .dimension {
    width: 150px;
    height: 50px;
    position: relative;
  }
  .lableSpan {
    top: 0px;
    left: 5px;
  }
  .productDimension {
    font-size: 18px;
  }
  .ctaButtonContainer {
  }
  .ctaButton {
    font-size: 12px;
  }
  .btnIcon {
    height: 30px;
  }
  .contactBtn {
  }
  .downloadBtn {
  }
}
