.headingContainer {
  margin: 20px auto;
  max-width: 500px;
}
.heading {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  line-height: 1.1em;
  color: var(--primary-theme1);
}
.theme1 {
  color: var(--primary-theme1);
}
.theme2 {
  color: var(--primary-theme2);
}
.headingSpan {
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .headingContainer {
    max-width: 100%;
    padding: 0 10px;
  }
  .heading {
    font-size: 32px;
  }
}
