.hotProductsContainer {
  width: 100%;
  position: relative;
  box-shadow: inset 0px -80px 600px -6px rgba(0, 0, 0, 0.8);
  border-radius: var(--standard-border-radius2);
}
.hotProductImage {
  width: 100%;
  position: relative;
  z-index: -1;
  border-radius: var(--standard-border-radius2);
}
.hotCta {
  position: absolute;
  left: 10%;
  bottom: 10%;
  color: var(--white-text);
  font-size: 28px;
  line-height: 1.2em;
}
.hotCtaSpan {
  font-weight: 600;
  line-height: 1em;
  font-size: 48px;
}

.ratio31 {
  aspect-ratio: 3 / 1;
}
.ratio21 {
  aspect-ratio: 2 / 1;
}
.ratio1 {
  aspect-ratio: 1 / 1;
}

@media (max-width: 768px) {
  .hotProductsContainer {
    margin: 10px auto;
  }
  .hotProductImage {
    aspect-ratio: 2 / 1;
  }
  .hotCta {
    font-size: 12px;
  }
  .hotCtaSpan {
    font-size: 24px;
  }
}
