.blogListView {
  padding-bottom: 50px;
  display: grid;
  gap: 10px;
}
.blogsContainer {
  max-width: var(--max-width-container);
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 50px;
}
