.homeView {
  padding-bottom: 50px;
  display: grid;
  gap: 10px;
}

.productImageContainer {
  max-width: var(--max-width-container);
  margin: 0px auto;
  gap: 10px;
  display: flex;
  overflow-x: scroll;
}

.productImage {
  max-height: 250px;
  width: 100%;
  aspect-ratio: 2/1;
}

/* chips start */
.chipsContainer {
  margin: 30px auto;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 10px;
}
.chip {
  border: 2px solid var(--primary-theme1);
  border-radius: var(--standard-border-radius1);
  background-color: var(--primary-theme1);
  color: var(--white-text);
  padding: 5px 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

  display: inline-block;
  white-space: nowrap;
  width: auto;
}
.chip:hover {
  background-color: var(--white-text);
  color: var(--primary-theme1);
}
.chipActive {
  background-color: var(--white-text);
  color: var(--primary-theme1);
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* chips end */
.ctaContainer {
  margin-top: 50px;
}
